.banner{
    background: linear-gradient(0deg,rgba(0,0,0,0.3), rgba(0,0,0, 0.5)),url("../../assets/images/propertiesVerticalBanner.png");
    background-repeat: no-repeat;
    background-size:cover;
    background-position: 50%;
    background-clip: border-box;
    height: 80vh;
    /* width: 95vw; */
    padding: 0;
    /* margin: 0 auto; */
    position: relative;
    border-radius: 1rem;
    display:flex;
    color:white;
    justify-content:center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    z-index: 0;
}
